	<article class='security'>
		<div class = 'security__scroll' id = 'security__scrollId'>				
		</div>
		<article class='carFrame'>
			<span class='carFrame__backTittle'>Model S</span>
			<div class="carFrame__img">
			</div>
			<div class='carFrame__front_stick'>
				<svg width="14" height="281" viewBox="0 0 14 281" fill="none">
					<rect x="5" width="4" height="271" fill="#E51937"/>
					<circle cx="7" cy="274" r="5.5" fill="white" stroke="#E51937" stroke-width="3"/>
				</svg>
			</div>
			<div class='carFrame__front_text'>
				Защита от удара <br>спереди				
			</div>
			<div class='carFrame__side_stick'>					
				<svg width="14" height="132" viewBox="0 0 14 132" fill="none">
					<rect x="5" width="4" height="122" fill="#E51937"/>
					<circle cx="7" cy="125" r="5.5" fill="white" stroke="#E51937" stroke-width="3"/>
				</svg>
			</div>
			<div class='carFrame__side_text'>
				Защита от удара <br>сбоку
			</div>
			<div class='carFrame__under_stick'>
				<svg width="14" height="118" viewBox="0 0 14 118" fill="none">
					<rect x="9" y="118" width="4.00001" height="108" transform="rotate(-180 9 118)" fill="#E51937"/>
					<circle cx="7" cy="7" r="5.5" transform="rotate(-180 7 7)" fill="white" stroke="#E51937" stroke-width="3"/>
				</svg>
			</div>
			<div class='carFrame__under_text'>
				Минимальный риск <br>перевернуться в аварии
			</div>
		</article>
		<aside class='security__aside'>
			<h2 class='security__tittle'>
				Самый безопасный автомобиль в мире
			</h2>
			<p class='security__text'>
				Модель S достигла наивысшей оценки безопасности любого автомобиля, когда-либо испытанного, и установила рекорд по наименьшей вероятности травмы пассажиров - от несчастных случаев на переднем, боковом, заднем сидении и в ДТП с переворотом авто.
			</p>
			<h2 class='security__tittleMark'>
				Оценка защиты:
			</h2>
			<p class='security__item'>
				СПЕРЕДИ 
				<span class='security__stars'>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
				</span>
			</p>
			<p class='security__item '>
				СБОКУ 
				<span class='security__stars'>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
				</span>
			</p>
			<p class='security__item'>
				СБОКУ<span class='security__litlle'>(стойка)</span>
				<span class='security__stars'>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg> 
				</span>
			</p>
			<p class='security__item'>
				ВОДИТЕЛЬ 
				<span class='security__stars'>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
				</span>
			</p>
			<p class='security__item'>
				ПАССАЖИР 
				<span class='security__stars'>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="23" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
					<svg width="25" height="23" viewBox="0 0 25 23" fill="none">
						<path d="M12.5 0L15.3064 8.63729H24.3882L17.0409 13.9754L19.8473 22.6127L12.5 17.2746L5.15268 22.6127L7.95911 13.9754L0.611794 8.63729H9.69357L12.5 0Z" fill="white"/>
					</svg>
				</span>
			</p>
			<section class='security__shield'>
				<svg width="62" height="74" viewBox="0 0 62 74" fill="none">
					<path d="M61.9204 19.0536C61.8825 17.0557 61.8464 15.1683 61.8464 13.3424C61.8464 11.9119 60.6904 10.7522 59.2637 10.7522C48.2184 10.7522 39.8089 7.56873 32.7991 0.73341C31.7963 -0.244643 30.2006 -0.244297 29.1982 0.73341C22.1891 7.56873 13.7809 10.7522 2.73633 10.7522C1.31 10.7522 0.153644 11.9119 0.153644 13.3424C0.153644 15.1687 0.117831 17.0567 0.079607 19.055C-0.274393 37.6477 -0.759247 63.1112 30.1527 73.857C30.4268 73.9523 30.7126 74 30.9985 74C31.2843 74 31.5704 73.9523 31.8442 73.857C62.7586 63.1109 62.2744 37.6466 61.9204 19.0536ZM30.9988 68.6611C4.48773 59.0025 4.88856 37.8442 5.24429 19.1538C5.26564 18.032 5.2863 16.9448 5.30076 15.8791C15.6453 15.4412 23.9174 12.2974 30.9988 6.11063C38.0809 12.2974 46.3544 15.4415 56.6996 15.8791C56.7141 16.9445 56.7347 18.031 56.7561 19.152C57.1115 37.8431 57.5119 59.0022 30.9988 68.6611Z" fill="white"/>
					<path d="M39.8925 28.0021L27.4271 40.5031L22.1078 35.1683C21.0992 34.1571 19.4639 34.1571 18.4556 35.1683C17.447 36.1802 17.447 37.82 18.4556 38.8315L25.601 45.9977C26.1052 46.5033 26.7663 46.7561 27.4271 46.7561C28.088 46.7561 28.7491 46.5033 29.2533 45.9977L43.5445 31.6654C44.5534 30.6538 44.5534 29.0137 43.5448 28.0025C42.5365 26.9909 40.9012 26.9906 39.8925 28.0021Z" fill="white"/>
				</svg>
				<div class='shield_text'>
					<span class='shield_text_huge'>5 звезд 
					</span>
					<span class='shield_smallerBig'>безопасности</span>
				</div>
			</section>
			<nav class='security__buttons'>
				<div class='security__knowMoreBox'>
					<a href="" class='security__knowMore'>
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="11" cy="11" r="10" stroke="white" stroke-width="2"/>
						<path d="M10.9949 8.031C11.7489 8.031 12.2559 7.537 12.2559 6.861C12.2559 6.237 11.7489 5.769 10.9949 5.769C10.2409 5.769 9.73392 6.263 9.73392 6.9C9.73392 7.537 10.2409 8.031 10.9949 8.031ZM9.98092 16H12.0089V9.006H9.98092V16Z" fill="white"/>
						</svg>
						<span class='security__knowMoreText'>УЗНАТЬ БОЛЬШЕ</span>
					</a>
				</div>
				<a href="" class='security__redButton'>
					<span>ЗАКАЗАТЬ</span>
				</a>
			</nav>
		</aside>	
	</article>